#footer {
    height: 50vh;
    padding-top: 3rem;
    background-color: var(--color-primary);
}

.footer__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    height: 100%;
    position: relative;
    color: var(--color-white);
    gap: 30px;
}

.footer__photo > img {
    grid-column: 1;
    width: 13.5rem;
    height: 13.5rem;
    object-fit: cover;
}


.footer__socials,
.footer__contact,
.footer__permalinks,
a {
    color: var(--color-white);
    text-align: left;
}

.footer__container h3{
    font-family: Karla;
    font-weight: 700;
    color: var(--color-primary-variant);
}
