.nav__container {
    display: grid;
    grid-template-columns: 25% 75%;
    padding: 1rem 1rem;
    text-align: center;
    height: 10vh;
    color: var(--color-primary);
}

img {
    width: 10rem;
}

.nav__container nav {
    display: flex;
    text-align: center;
    align-items: center;
    margin: auto;
    height: 50%;
    overflow: hidden;
    background-color: var(--color-white);
}


.nav__container a
{
    padding: 0.9rem;
    color: var(--color-primary);
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
    } 

.nav__container nav a:hover {
    color: var(--color-primary-variant);
}

.active a {
    color: var(--color-primary-variant);
  }



/*================= MEDIA QUERIES (MEDIUM DEVICES) ================*/
@media screen and (max-width: 1024px) {
    .nav__container {
        display: grid;
        grid-template-columns: 25% 75%;
        gap: 0;
    }
}